globals:
  - id: user_is_interacting
    type: bool
    initial_value: "false"
    restore_value: no

esphome:
  on_boot:
    - priority: 250.0
      then:
        # Using ESPhome packages will cause the settings page to be the first one, lvgl.page.next will make it look like the last one again.
        - lvgl.page.next:
            animation: NONE

lvgl:
  pages:
    - id: settings
      skip: true
      bg_color: 0x0d0d0d
      bg_opa: COVER
      widgets:
        - !include
            file: templates/page_title_with_back_button.yaml
            vars:
              title: !lambda return id(translate).translate("settings.settings");
              previous_page_id: ${first_page_id}
              previous_page_index: "0"
              previous_page_name: !lambda return id(translate).translate("back");
        - obj:
            styles: content_container
            pad_left: 0
            layout:
              type: FLEX
              flex_flow: COLUMN
              flex_align_main: LV_FLEX_ALIGN_START
              flex_align_cross: LV_FLEX_ALIGN_START
              flex_align_track: LV_FLEX_ALIGN_CENTER
            widgets:
              - obj:
                  styles: ["settings_item", "settings_display_brightness_height"]
                  bg_color: 0x202020
                  bg_opa: COVER
                  pad_all: 0
                  layout:
                    type: FLEX
                    flex_flow: COLUMN
                    flex_align_main: SPACE_EVENLY
                    flex_align_cross: LV_FLEX_ALIGN_START
                    flex_align_track: LV_FLEX_ALIGN_START
                    pad_row: 0
                  widgets:
                    - label:
                        pad_left: 30
                        text_color: 0xffffff
                        text_font: libreFranklin18
                        text: !lambda return id(translate).translate("settings.display_brightness");
                    - obj:
                        styles: settings_item_internal_width
                        bg_opa: TRANSP
                        height: SIZE_CONTENT
                        pad_all: 0
                        pad_top: 5
                        pad_bottom: 15
                        layout:
                          type: FLEX
                          flex_flow: ROW
                          flex_align_main: SPACE_EVENLY
                          flex_align_cross: CENTER
                          flex_align_track: CENTER
                          pad_row: 0
                        widgets:
                          - label:
                              text_color: 0xffffff
                              text_font: brightness_small
                              text: "\U000F05A8"
                          - slider:
                              height: 25
                              id: lvgl_indicator_lcd_brightness_slider
                              value: 100
                              min_value: 5
                              max_value: 100
                              bg_color: 0x525a46
                              indicator:
                                bg_color: 0x92ae67
                              knob:
                                bg_color: 0xFFFFFF
                              on_press:
                                then:
                                  - globals.set:
                                      id: user_is_interacting
                                      value: 'true'
                              on_release:
                                then:
                                  - globals.set:
                                      id: user_is_interacting
                                      value: 'false'
                              on_value:
                                if:
                                  condition:
                                    lambda: |-
                                      return id(user_is_interacting);
                                  then:
                                    - light.control:
                                        id: display_backlight
                                        state: on
                                        brightness: !lambda 'return x / 100.0;'
                          - label:
                              text_color: 0xffffff
                              text_font: brightness_big
                              text: "\U000F05A8"
              - obj:
                  styles: settings_item
                  bg_color: 0x202020
                  bg_opa: COVER
                  pad_all: 0
                  pad_left: 30
                  pad_right: 30
                  layout:
                    type: FLEX
                    flex_flow: ROW
                    flex_align_main: SPACE_BETWEEN
                    flex_align_cross: CENTER
                    flex_align_track: CENTER
                  widgets:
                    - label:
                        text_color: 0xffffff
                        text_font: libreFranklin18
                        text: !lambda return id(translate).translate("settings.turn_off_screen_after");
                    - dropdown:
                        id: lvgl_display_backlight_timeout
                        height: 40
                        width: 110
                        bg_color: 0x181818
                        text_color: 0xffffff
                        border_width: 0
                        text_font: libreFranklin18
                        dir: TOP
                        dropdown_list:
                          bg_color: 0x292929
                          text_color: 0xffffff
                          text_font: libreFranklin18
                          border_width: 1
                          border_color: 0x999999
                          selected:
                            checked:
                              bg_color: 0x92ae67
                        options:  # These are updated to localized values in esphome.yaml on_boot
                          - "Never"
                          - "1 min"
                          - "5 min"
                          - "15 min"
              - obj:
                  styles: settings_item
                  bg_color: 0x202020
                  bg_opa: COVER
                  pad_all: 0
                  pad_left: 30
                  pad_right: 30
                  layout:
                    type: FLEX
                    flex_flow: ROW
                    flex_align_main: SPACE_BETWEEN
                    flex_align_cross: CENTER
                    flex_align_track: CENTER
                  widgets:
                    - label:
                        text_color: 0xffffff
                        text_font: libreFranklin18
                        text: !lambda return id(translate).translate("settings.use_24h_clock");
                    - switch:
                        id: lvgl_24h_clock_switch
                        height: 40
                        width: 85
                        bg_color: 0xdddddd
              - obj:
                  styles: settings_item
                  bg_color: 0x202020
                  bg_opa: COVER
                  pad_all: 0
                  pad_left: 30
                  pad_right: 30
                  layout:
                    type: FLEX
                    flex_flow: ROW
                    flex_align_main: SPACE_BETWEEN
                    flex_align_cross: CENTER
                    flex_align_track: CENTER
                  widgets:
                    - label:
                        text_color: 0xffffff
                        text_font: libreFranklin18
                        text: !lambda return id(translate).translate("settings.auto_cycle_through_screens");
                    - switch:
                        id: lvgl_screen_auto_cycling_switch
                        height: 40
                        width: 85
                        bg_color: 0xdddddd
                        on_value:
                          lambda: id(auto_cycling_enabled) = x;
