platform: gpio
internal: true
id: indicator_button
name: "Indicator Button"
pin:
  number: GPIO38
  inverted: yes
  mode:
    input: true
    pullup: true
on_press:
  then:
    - if:
        condition: lvgl.is_paused
        then:
          # If screen is off, wake it up
          - script.execute: activity_detected
        else:
          # Otherise, move to next page
          - if:
              condition:  # Don't switch if we are on the settings screen.
                lambda: return !id(page_controls_hidden);
              then:
                script.execute: next_page